.geo-error{
    padding: 4rem 1.5rem; 
    background-image: url("../../assets/MarioKart/RacewayPrincessPeach.jpg");
    background-size: cover;
    /* background-position: 50% 50%;  */
    min-height: 100vh;
    display: flex; 
    flex-direction:column; 
    justify-content:center; 
    align-items: center;
    
}

.geo-error__subtitle{
    color: white; 
}
