.btn{
    font-size: 1.5rem; 
    font-weight: 700;
    display: inline-block;
    padding: 0.5em 1.2em;  
    background: red; 
    font-family: "DM Serif Text", Roboto, "Open Sans", sans-serif;
    border-radius: 50px;
    transition: transform 250ms; 
    transform: scale(1); 
    border:none;
}

.btn:hover{
    transform: scale(1.2);
    cursor: pointer; 
}

.btn:active{
    background: orange;
    color: white; 
}

.btn--card{
    align-self: center;
}

/* Width styles  */
.btn--super-slim{
    padding: 0.5em 1em; 
}

.btn--slim{
    padding: 0.5em 1.2em; 
}

.btn--medium-slim{
    padding: 0.8em 1.5em; 
}

.btn--wide{
    padding: 1em 3em; 
}

.btn--form{
    padding: 0.6em 2.5em;
}

/* Size styles */

.btn--small{
    font-size: 1rem; 
}

.btn--medium-small{
    font-size: 1.25rem;
}

.btn--medium{
    font-size: 1.5rem;
}

.btn--large{
    font-size: 2rem; 
}

.card--one{
    background: blue;
    color: white; 
}

.card--two{
    background:rgb(12, 214, 89); 
    color: rgb(4, 1, 1); 
}

.student--btn, .guest--btn{
    border: 6px solid red;
    color: red; 
    letter-spacing: 3px; 
    background: white; 
}

.student--btn{
    margin-bottom: 1.3em;
    
}

.guest--btn{
    font-size: 1.6rem;
}

.login--btn{
    border-radius: 0;
}

.btn--create-project{
    margin-bottom: 3rem; 
    background: white; 
    color: red; 
    border: 2px solid red; 
}

.btn--edit{
    color: white; 
    letter-spacing: 2px;
    border-radius: 0; 
    border: 1px solid white; 
    margin-left: auto; 
    margin-right: 1rem; 
}

.btn--save, .btn--delete{
    background-color: green; 
    color: white; 
}

.btn--save{
    margin-top: 2rem; 
    margin-right: 2rem; 
}

/* margin-right: auto; 
    margin-left: 1rem;  */

@media (min-width: 600px){
    
}