.btn{
    display: inline-flex; 
    align-items:center;
    font-size: 2rem; 
    padding: 0.5em 1em; 
    gap: 0.3em; 
    font-family: "DM Serif Text", "Roboto", "Open Sans", sans-serif;
    letter-spacing: .1em; 
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}


.btn__text {
    font-size: 1em; 
  }

.svg{
    width: 1em; 
    fill: red; 
}

.btn--primary{
    background-color: white;
    border: 2px solid red;
    color: red;
}

.btn--small{
    font-size: 1rem;
}

.btn--medium{
    font-size: 2rem;
}

.btn--large{
    font-size: 3rem;
}

.btn--extra-large{
    font-size: 4rem; 
}

.btn--supersized{
    font-size: 5rem;
}

.btn:hover {
    letter-spacing: 2.0px; 
    transition: ease-in-out 0.3s; 
    cursor: pointer; 
    transform: translateY(-4px);  /* Moves the button up */
    box-shadow: 0 0px 40px rgba(231, 202, 202, 0.2); 
    
}


