.voter-registration{
    padding: 4rem 1.5rem; 
    text-align: center; 
    min-height: 100vh;
    margin-left: auto; 
    margin-right: auto;  
    /* background-image: url(../../assets/crayons/CrayonsWood.jpg); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url('../../assets/MarioKart/PrincessPeachCastleWithRaceWay.jpg');
    
    background-blend-mode: screen;
   background-size: cover; 
}

.voter-registration__title{
    max-width: 900px;
    margin-left: auto; 
    margin-right: auto; 
}

.vote__question{
    color: white; 
}

.guest--btn{}

@media (min-width:740px){
    /* .voter-registration{ 
       
       background-size: contain; 
       This is a media query for the crayon image
    } */
    
}
