.navigation-assistant{
    padding: 4rem 1.5rem; 
    background-image: url("../../assets/MarioKart/RacewayPrincessPeach.jpg");
    background-image: url("../../assets/MarioKart/NavigationAssistant/marioInCar2.jpg");
    background-size: cover;
    background-position: 50% 50%; 
    min-height: 100vh;
    text-align: center; 
    
}

.navigation-assistant__map{
    margin-left: auto; 
    margin-right: auto; 
    width: 100%;
    max-width: 800px; 
    height: 600px; 
    
}

.navigation-assistant__title{
    color: white; 
    margin-bottom: 0.1em; 
}

.navigation-assistant__subtitle{
    color: black; 
    font-size: 1.5rem; 
    padding-bottom: 1rem; 
    color: white; 
    -webkit-text-stroke: 1px rgb(172, 29, 43);
}

.iframeContainer{
    display: flex; 
    height: 100%; 
   
}

.google-map{
    border: 1px solid white; 
    width: 700px; 
    height: 500px;  
    margin : 0 auto;
    align-self: center;  
}

