.pm-subtitle{
    color: black;
    font-style: normal;
    max-width: 400px;
    margin-left: auto; 
    margin-right: auto; 
}

.project-menu__title-container{
    padding: 2rem 1.5rem; 
    text-align: center; 
    background-image: url(../../assets/legoBlocks.jpeg);
    /* background-image: url(../../assets/aboutCapstone.jpeg); */
    background-image: url(../../assets/MarioKart/RacewayPrincessPeach.jpg);
    background-position: 0% 10%; 
    background-image: url(../../assets/MarioKart/PrincessPeachCastleWithRaceWay.jpg);
    
    background-size: cover;
}

.project-list__wrapper{
    padding: 3rem 1.5rem; 
    background-image: url(../../assets/MarioKart/RepeatableBackground.jpg);
    background-size: contain; 
    background-color:orange;
}

.project-list{
    max-width: 1000px;
    margin-left: auto; 
    margin-right: auto;
}

.project-list__card{
    display: flex; 
    flex-direction: column; 
    padding: 1rem;
    background: blue; 
    border-radius: 10px; 
    color: white; 
    transition: transform 250ms;
    transform: scale(1);
    transform-origin: center; 
    height: 100%; 
    margin-bottom: 1.5rem; 
}

.pl__short-description{
    flex-grow: 1; 
}
/* Since the container will stretch, to be the size of tallest div container with the most 
short-description text, want the text to grow to fill available size in smallest div container  */

.project-list__card:hover{
    transform: scale(1.02);
}

.pl__btn-layout{
    margin-top: 0.3em; 
}

@media(min-width: 500px){
    .project-list{
        display: grid; 
        grid-template-columns: repeat(2,minmax(0,500px));

        grid-gap: 1.5rem 1.5rem;  
    }

    .project-list__card{
        margin-bottom: 0; 
    }
}