.network-error{
    padding: 4rem 1.5rem; 
    background-image: url("../../../assets/errorScreenImages/lose.jpg");
    background-size: cover;
    /* background-position: 50% 50%;  */
    min-height: 100vh;
    display: flex; 
    flex-direction:column; 
    justify-content:center; 
    align-items: center;
    text-align: center; 
}

.network-error__subtitle{
    color: white; 
    max-width: 900;
}
