.admin-page{
    padding: 4rem 1.5rem; 
    text-align: center; 
    background-image: url("../../assets/MarioKart/BackgroundRepeatable/mariobackground.jpg");
    background-size: 600px 600px;
    background-position: 18% 40%;
    min-height: 100vh;
    display: flex; 
    flex-direction:column; 
    justify-content: start; 
    align-items: center;
    text-align: center; 
    border: 2px solid blue; 
    color: white; 
}

.admin-login__title{
    
    margin-bottom: 3.5rem; 
}

.admin-page__title{
    margin-bottom: 0.2em; 
    font-size: clamp(2.5rem, 5vw + 2rem, 4.5rem);
}

.leaderboard__team, .leaderboard__vote-no{
    font-size: clamp(1.7rem, 3vw + 1rem, 2.3rem);
    margin-bottom:0;
}

.leaderboard__team{
    padding: 0 1rem; 
}


.leaderboard{
    /* display:grid; 
    grid-template-columns: 400px 200px; */
    display: flex; 
    flex-direction:column; 
    gap:2rem;
    width: 100%; 
}

.modify-team{
    display: flex; 
    flex-direction: column; 
    gap: 0.3rem; 
    border-radius:10px;
    padding-top: 0.5rem; 
    padding-bottom: 0.5rem; 
    transition: transform 500ms;
    transform: scale(1);
    align-self: center; 
}

.modify-team:hover{
    transform: scale(1.07);
}




.modify-team:nth-child(10n+1) {
    background-color: rgb(255, 255, 0);
    color: rgb(233, 5, 233); 
}

.modify-team:nth-child(10n+2) {
    background-color: green;
    color: white; /* Optional */
}

.modify-team:nth-child(10n+3) {
    background-color: blue;
    color: rgb(255, 0, 17); /* Optional */
}

.modify-team:nth-child(10n+4) {
    background-color: rgb(9, 215, 98);
    color: rgb(196, 200, 199); /* Optional */
}

.modify-team:nth-child(10n+5) {
    background-color: rgb(32, 3, 3);
    color: rgb(229, 232, 236); /* Optional */
}

.modify-team:nth-child(10n+6) {
    background-color: rgb(224, 13, 13);
    color: rgb(207, 214, 19); /* Optional */
}

.modify-team:nth-child(10n+7) {
    background-color: rgb(13, 224, 140);
    color: rgb(26, 146, 226); /* Optional */
}

.modify-team:nth-child(10n+8) {
    background-color: rgb(189, 214, 233);
    color: rgb(218, 14, 28); /* Optional */
}

.modify-team:nth-child(10n+9) {
    background-color: rgb(149, 113, 15);
    color: rgb(239, 234, 243); /* Optional */
}

.modify-team:nth-child(10n+10) {
    background-color: rgb(110, 16, 197);
    color: rgb(70, 180, 172); /* Optional */
}




