.home-wrapper{
    width: 100%; 
    height: 100%; 
    display: flex; 
    flex-direction: column;
    margin-bottom: 8rem;
}

.container{
    width: 85%; 
    margin: 0 auto; 
    max-width: 700px;
    font-family: 'Barlow'; 
}

.row{
    display: flex; 
    justify-content: space-between;
}

.hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url('../../assets/HeroImage.png');
    background-size: cover;
    background-position: center;
    /* border: 2px solid red;  */
}

.hero--margin{
    margin-top: 3rem; 
    margin-bottom: 3rem;
}

.hero .btn {
    margin-top: 1rem;  
  }

.hero__heading{
    font-size: 6rem; 
    font-family: 'Modak', Barlow;
    font-size: clamp(3.5rem, 5vw + 3rem, 6rem);
    font-weight:800;
    -webkit-text-stroke: 1px black;
    text-stroke: 2px black;
    color: #FF0000;
}

@media (max-width: 768px) {
    .hero__heading {
      line-height: 1.1;  
    }
  }

.hero__year{
    color: yellow;
    -webkit-text-stroke: 2px black;
}

.hero__text{
    
    font-size: 1.5em; 
    font-family: 'Barlow'; 
    font-style: italic;
    color: #FFF;
}

.project{
    background-color: blue; 
}

.locate-event{
    background-color: rgb(24, 10, 228);
    padding: 2rem 2rem;
    color: white;
}
