.not-on-campus-error{
    padding: 4rem 1.5rem; 
    background-image: url("../../../assets/MarioKart/RacewayPrincessPeach.jpg");
    background-size: cover;
    /* background-position: 50% 50%;  */
    min-height: 100vh;
    text-align: center; 
    
}

.not-on-campus-error__title{
    margin-bottom: 0.6em; 
    max-width: 600px;
}

.not-on-campus-error__subtitle{
    
    color: white; 
    max-width: 500px;
}

.not-on-campus-error__title, .not-on-campus-error__subtitle{
    margin-left: auto; 
    margin-right: auto;
}
