.not-on-campus-error{
    padding: 4rem 1.5rem; 
    background-image: url("../../../assets/errorScreenImages/Wario.jpg");
    background-size: cover;
    background-position: 70% 50%; 
    min-height: 100vh;
    display: flex; 
    flex-direction:column; 
    justify-content:center; 
    align-items: center;
    text-align: center; 
}


.not-on-campus-error__subtitle{  
    color: white; 
    max-width: 700px; 
}

@media(min-width : 700px){
    .not-on-campus-error{
        background-position: 10% 50%; 
    }
}
